/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 120%;
}

h1 {
	text-align: center;
}

/*div {
	margin: 0px;
	padding: 0px;
}*/
/* Simple Responsive Framework. */
.row {
	width: 100%;
	height: 100%;
}

.row>div {
	float: left;
}

.cell {
	background-color: #8f8f8f;
	margin: 10px;
	border: 2px solid black;
	padding: 5px;
	position: relative;
}

.cellTitle {
	margin: 0px;
	padding: 2px;
	border: 1px solid black;
	width: auto;
	box-sizing: border-box;
	text-align: center;
	float: right;
	position: absolute;
	top: 0px;
	right: 0px;
	clear: left;
}

#chicken {
	background-color: #ffff00;
}

#beef {
	background-color: #bfafaf;
}

#sushi {
	background-color: #00ffff;
}

/********** Large devices only **********/
@media (min-width: 992px) {
	.col-lg-1 {
	width: 8.33%;
	}
	.col-lg-2 {
	width: 16.66%;
	}
	.col-lg-3 {
	width: 25%;
	}
	.col-lg-4 {
	width: 33.33%;
	}
	.col-lg-5 {
	width: 41.66%;
	}
	.col-lg-6 {
	width: 50%;
	}
	.col-lg-7 {
	width: 58.33%;
	}
	.col-lg-8 {
	width: 66.66%;
	}
	.col-lg-9 {
	width: 74.99%;
	}
	.col-lg-10 {
	width: 83.33%;
	}
	.col-lg-11 {
	width: 91.66%;
	}
	.col-lg-12 {
	width: 100%;
	}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1 {
	width: 8.33%;
	}
	.col-md-2 {
	width: 16.66%;
	}
	.col-md-3 {
	width: 25%;
	}
	.col-md-4 {
	width: 33.33%;
	}
	.col-md-5 {
	width: 41.66%;
	}
	.col-md-6 {
	width: 50%;
	}
	.col-md-7 {
	width: 58.33%;
	}
	.col-md-8 {
	width: 66.66%;
	}
	.col-md-9 {
	width: 74.99%;
	}
	.col-md-10 {
	width: 83.33%;
	}
	.col-md-11 {
	width: 91.66%;
	}
	.col-md-12 {
	width: 100%;
	}
}